.button-wrap {
	margin-bottom: 3em;
}

.button {
	background: none;
	border: none;
	width: 250px;
	height: 105px;
	outline: none;
	position: relative;
	margin: 1em;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button--round {
	width: 150px;
	height: 150px;
}

.button__text {
	display: block;
	padding: 10px;
	text-align: center;
	position: relative;
	z-index: 100;
	font-size: 1.5em;
	color: #fff;
	font-weight: bold;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.morph-shape {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.button--line .morph-shape svg {
	fill: none;
	stroke: #fff;
	stroke-width: 4px;
	stroke-linecap: round;
}

.button--line:nth-child(2) .morph-shape svg {
	fill: #938edc;
}

.button--fill .morph-shape svg {
	fill: #44474D;
}

.button--fill:nth-child(4) .morph-shape svg {
	fill: #202020;
}

.button--round .morph-shape svg {
	stroke-width: 7px;
}

/* Example for effect */

.button--anim-1 .button__text {
	-webkit-transition: -webkit-transform 0.15s;
	transition: transform 0.15s;
}

.button--anim-1:active .button__text {
	-webkit-transform: translate3d(0, -5px, 0);
	transform: translate3d(0, -5px, 0);
}